{% extends 'base.html' %}
{% block title %} About Will Song {% endblock %}
{% block content %}
  <div class="container">
    <h4 class ="fst-italic">About Me</h4>
  </br>
    <p>Hello everyone, I am a recent college grad and aspiring software developer.
      I enjoy actively working on programming projects and I am passionate about photography. Most recently
      I acquired an 2022 Leica M6 reissue to shoot more film with control alongside my Contax T3.
    </p>
    <hr>
    <p>I am working on bringing content to this website as soon as possible so stay tuned!</p>
</div>
{% endblock %}