{% extends 'base.html' %}
{% block title %} Review {% endblock %}
{% block content %}
    <div class="container">
    <article class="blog-post">
    <h2 class="blog-post-title">Falling in love with a Classic</h2>
    <p class="blog-post-meta">Apr 26, 2023 by
    <a href="#">Will</a>
    </p>
    <a href="{{ url_for('index')}}" role="button"><< Back</a>
      </br></br>
    <p>After months of being on a wait list...I finally received in the mail the most antipated camera
        I've been lusting for the other day, the Leica M6 2022 reissue! (Courtesy of a local camera shop
        in Seattle I used to frequent) Having said that, I am no stranger to Leica. My first camera from
        Leica was a Q2, which has a 28mm fixed lens on a 47-megapixel sensor. I traveled around with it around
        the globe for roughly 2 years. After understanding the limitations of having a fixed focal length, I decided to take the plunge
        and trade in my Q2 for an M11 at the Washington D.C. Leica store late last year (2022).
    </p>
    <hr>
    <blockquote class="blockquote">
        <p>"I am no stranger to Leica"</p>
      </blockquote>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu 
        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt 
        mollit anim id est laborum.</p>
    </article>
    </div>
{% endblock %}