{% extends 'base.html' %}
{% block title %} Review {% endblock %}
{% block content %}
    <div class="container">
    <article class="blog-post">
    <h2 class="blog-post-title">Falling in love with a Classic</h2>
    <p class="blog-post-meta">Apr 26, 2023 by
    <a href="#">Will</a>
    </p>
    <a href="{{ url_for('index')}}" role="button"><< Back</a>
      </br></br>
    <p>After months of being on a wait list, I finally received in the mail my Leica M6 2022 reissue! Having said that, 
        I am no stranger to Leica. My first camera from Leica was a Q2, which has a 28mm fixed lens on a 47-megapixel sensor. 
        I've taken it around the globe and had it for about 2 years. After understanding the limitations of having a fixed focal length, 
        I decided to take the plunge and trade in my Q2. Most recently I've been shooting film with a Contax T3
        (point-and-shoot) and took the opportunity to add an M6 for more control over my images...not to mention
        gaining the ability to change focal lengths.
    </p>
    <hr>
    <blockquote class="blockquote">
        <p>"I am no stranger to Leica"</p>
      </blockquote>
    <p>I've come to appreciate film due to its aesthetic and nostalgia of using disposible film when I was a kid. My concern
      was how I would transition to it and what medium I would use (35mm or 120mm)? Not to mention there were virtually no
      manufacturers left that make new film cameras except for Leica. Cost aside, the serviceability of a Leica film camera by
      the OEM was definitely a huge factor that played in my decision to move to Leica.
    </p>
    </article>
    </div>
{% endblock %}