{% extends 'base.html' %}
{% block title %} Review {% endblock %}
{% block content %}
    <div class="container">
    <article class="blog-post">
    <h2 class="blog-post-title">Falling in love with a Classic</h2>
    <p class="blog-post-meta">Apr 26, 2023 by
    <a href="#">Will</a>
    </p>
    <a href="{{ url_for('index')}}" role="button"><< Back</a>
      </br></br>
    <p>After months of being on a wait list...I finally received in the mail the most antipated camera
        I've been lusting for the other day, the Leica M6 2022 reissue! (Courtesy of a local camera shop
        in Seattle I used to frequent) Having said that, I am no stranger to Leica. My first camera from
        Leica was a Q2, which has a 28mm fixed lens on a 47-megapixel sensor. I've taken it around the globe 
        and had it for about 2 years. After understanding the limitations of having a fixed focal length, 
        I decided to take the plunge and trade in my Q2. Most recently I've been shooting film with a Contax T3
        (point-and-shoot) and took the opportunity to add an M6 for more control over my images...not to mention
        being able to change focal lengths.
    </p>
    <hr>
    <blockquote class="blockquote">
        <p>"I am no stranger to Leica"</p>
      </blockquote>
    <p>I've been slowly acquiring Leica glass...I am currently using the 35mm Summilux steel rim reissue, 28mm Elmarit, 
      21mm Super-Elmar, and 90mm Elmarit-m. I also have the Zeiss 35mm F2.8 and Zeiss 50mm F1.5 which are both excellent 
      lenses.
    </p>
    </article>
    </div>
{% endblock %}