{% extends 'base.html' %}
{% block title %} Photo Gallery {% endblock %}
{% block content %}
<div class="container">
    <h4>Film</h4>
    <p>Samples of film photos taken on a recent trip.</p>
    <div class="row">
        <div class="col-sm-4 left">Left image placeholder</div>
        <div class="col-sm-4 center">Center image placeholder</div>
        <div class="col-sm-4 center">Right image placeholder</div>
    </div>
    <div class="row">
        <div class="col-sm-4 left">Left image placeholder</div>
        <div class="col-sm-4 center">Center image placeholder</div>
        <div class="col-sm-4 center">Right image placeholder</div>
    </div>
    <div class="row">
        <div class="col-sm-4 left">Left image placeholder</div>
        <div class="col-sm-4 center">Center image placeholder</div>
        <div class="col-sm-4 center">Right image placeholder</div>
    </div>
</div>
{% endblock %}