{% extends 'base.html' %}
{% block title %} Photo Gallery {% endblock %}
{% block content %}
<div class="container">
    <h4>Film</h4>
    <p>Film photos taken in Washington, D.C. (early spring 2023)</p>
    <div class="row">
        <div class="col-sm-4 left">
            <img 
              class="img-thumbnail"
              src="static/img/000070280032.jpg"
              width="500em"
              style="border: 0px solid #000000"
            />
            </div>
        <div class="col-sm-4 center">
            <img 
              class="img-thumbnail"
              src="static/img/000070280034.jpg"
              width="500em"
              style="border: 0px solid #000000"
            />
            </div>
        <div class="col-sm-4 right">
            <img 
              class="img-thumbnail"
              src="static/img/000070280035.jpg"
              width="500em"
              style="border: 0px solid #000000"
            />
            </div>
    </div>
    <div class="row">
        <div class="col-sm-4 left">
            <img 
              class="img-thumbnail"
              src="static/img/Untitled (11).jpg"
              width="500em"
              style="border: 0px solid #000000"
              />
            </div>
        <div class="col-sm-4 center">
            <img
              class="img-thumbnail
              "src="static/img/Untitled (17).jpg"
              width="500em"
              style="border: 0px solid #000000"
              />
            </div>
    </div>

{% endblock %}