{% extends 'base.html' %}
{% block title %} Subscribe {% endblock %}
{% block content %}
      <div class="container">

{% if error_statement %}

<div class="alert alert-warning alert-dismissible fade show" role="alert">
  {{ error_statement }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>

</div>

{% endif %}

    <h1>Subscribe To My Newsletter</h1>
    <br/>

    <form action="/form" method="POST">
        <div class="form-group">
          <label for="exampleInputEmail1">What's your name and email address? <medium id="emailHelp" 
            class="form-text text-muted">We need just a little more info:</medium></label>
          
          <input type="text" class="form-control" id="exampleInputFirstName" aria-describedby="emailHelp" 
          placeholder="First name" name='first_name' value="{{ first_name }}">
        </div>

        <div class="form-group">
            <input type="text" class="form-control" id="exampleInputLastName" aria-describedby="emailHelp" 
            placeholder="Last name" name='last_name' value="{{ last_name }}">
          </div>

          <div class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" 
            placeholder="Email address" name='email' value="{{ email }}">
          </div>

          <br/>
        <button type="submit" class="btn btn-secondary">Submit</button>
      </form>

</div>
{% endblock %}